body {
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App .container {
  margin: 50px auto;
}

.word-list {
  overflow: auto;
  max-height: 35vh;
  padding: 50px 0;
}

#clearBtn, #submitBtn {
  width: 100px;
  margin: 10px;;
}

button:disabled {
  cursor: default;
}

img.img-fluid {
  opacity: 0.8;
}

.spinner-border {
  width: 100px;
  height: 100px;
}

header {
  background-color:#76a2ce;
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 80px;
}

.footer {
  position: absolute;   
  bottom: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #76a2ce;
  color: #fff;
}

.app-description {
  width: 70%;
  margin: 20px auto;
}

.spinner-border {
  position: absolute;
  left: calc(50% - 48px);
}