.App {
  text-align: center;
}

.App .container {
  margin: 50px auto;
}

#clearBtn, #submitBtn {
  width: 100px;
  margin: 10px;;
}

img.img-fluid {
  opacity: 0.8;
}

.spinner-border {
  width: 100px;
  height: 100px;
}